<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="float">
            <name>minimumOrderValue</name>
            <label>Minimum order value</label>
            <label lang="de-DE">Mindestbestellwert</label>
        </input-field>

        <input-field type="single-select">
            <name>tax</name>
            <options>
                <option>
                    <id>brutto</id>
                    <name>brutto</name>
                    <name lang="de-DE">Brutto</name>
                </option>
                <option>
                    <id>netto</id>
                    <name>netto</name>
                    <name lang="de-DE">Netto</name>
                </option>
            </options>
            <defaultValue>brutto</defaultValue>
            <label>Price calculation</label>
            <label lang="de-DE">Preisberechnung</label>
        </input-field>

        <input-field type="float">
            <name>fixedPriceForMinimumOrderItem</name>
            <label>Fixed Price for Minimum Order Value Item</label>
            <label lang="de-DE">Fester Preis für Mindestbestellwert-Artikel</label>
            <helpText>Optional fixed price for the dummy item added when the cart value is below the minimum order value. If left empty, the item’s price will equal the difference between the cart value and the minimum order value.e</helpText>
            <helpText lang="de-DE">Optionaler fester Preis für den Dummy-Artikel, der hinzugefügt wird, wenn der Warenkorbwert unter dem Mindestbestellwert liegt. Wird dieses Feld leer gelassen, entspricht der Preis des Artikels der Differenz zwischen Warenkorbwert und Mindestbestellwert.</helpText>
        </input-field>
    </card>
</config>
